.PostCard{
  width: 26%;
  height: 10%;
  margin: 0 20%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 16px;
  float: left;
}

.center-all-post{
  width: 60%;
  margin: 0 auto;
  float: none;

}
